@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cover bg-no-repeat bg-top;
    background-image: url("/src/assets/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
